{% extends 'polls/base.html' %}

{% block content %}
    {% if q %}
        <h1> {{ q.question_text}}</h1>
        <form action="{% url 'polls:vote' q.id%}" method  = "post" >
            {% csrf_token %}
            <ul>
                {% for item in q.choice_set.all %}
                <li> <input type="radio" value= "{{ item.id }}" name="choice">
                {{ item.choice_text }}
                 </li>
                {% endfor %}
            </ul>
            <p> <input type="submit" value="gui" > </p>
        </form>

    {% endif %}
{% endblock %}